@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --body-bg: #252525;
  --font-main: white;
  --font-link: red;
  --font-contrast: gray;

  --timeline-main: red;
  --timeline-secondary: darkred;

  --html-logo: #ec662b;
  --css-logo: #2963ec;
  --react-logo: #09d9fe;
  --node-logo: #83cd29;
  --figma-logo: #0acf83;
  --git-logo: #ea4f33;
  --laravel-logo: #f44e3a;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
  color: var(--font-main);
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--font-link);
  text-decoration: none;
  font-style: italic;
}

main {
  padding: 0 3rem;
}

section {
  margin-bottom: 5rem;
}

section:first-of-type {
  margin: 8rem 0;
}

section h2 {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
}

section h3 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

section p {
  margin: 1rem 0;
}

footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
}

#hero {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

#hero #heroEmoji {
  animation: wave 3s infinite;
  display: inline-block;
}

#heroDescription {
  font-size: 1.5rem;
}

/* Timeline */
.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 10rem;
  background-color: var(--timeline-secondary);
  top: 0;
  bottom: 0;
  height: 100%;
}

.timelineItem {
  margin: 1rem 0 0 3rem;
}

.timelineItem::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--timeline-main);
  border-radius: 50%;
  margin-left: -3.25rem;
  z-index: 1;
  margin-top: 1rem;
}

.timelineItem .duration {
  width: 3.9rem;
  position: absolute;
  text-align: center;
  margin-left: -4.75rem;
  margin-top: 2rem;
}

#hourglass {
  display: inline-block;
  animation: hourglassRoll 5s infinite;
}

/* Education */

#education a::before,
#work a::before {
  content: "@ ";
}
.educationItem {
  margin: 0 0 2rem 0;
}

.educationItem .top {
  text-align: center;
  font-size: 3rem;
}

.educationItem .institution {
  font-size: 1.5rem;
  text-align: center;
}

.educationItem .institution .status {
  font-style: normal;
}

.educationItem .institution .status::before {
  content: " (";
}
.educationItem .institution .status::after {
  content: ")";
}

#education p {
  text-align: center;
}

/* Toolkit */
.toolkit-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.toolkit-items .tk-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.toolkit-items .tk-item i {
  font-size: 5rem;
}

.toolkit-items .tk-item img {
  width: 5rem;
  margin: 0 auto;
}

.toolkit-items .tk-item span {
  font-weight: bold;
}

#html-logo {
  color: var(--html-logo);
}

#css-logo {
  color: var(--css-logo);
}

#react-logo {
  color: var(--react-logo);
}

#node-logo {
  color: var(--node-logo);
}

#figma-logo {
  color: var(--figma-logo);
}

#git-logo {
  color: var(--git-logo);
}

#laravel-logo {
  color: var(--laravel-logo);
}

/* Contact */
#contact .icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  color: green;
}

#contact .icons a {
  margin: 0 auto;
}

#contact .icons a img {
  height: 4rem;
}

#contact img {
  width: 100%;
  max-width: 20rem;
  border-radius: 50%;
  margin: 1rem auto;
  display: block;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  main {
    max-width: 50%;
    margin: 0 auto;
  }

  .toolkit-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* KEYFRAMES */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hourglassRoll {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(180deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
